node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
*.log
*.log.*
*.pid
*.seed
*.pid.lock
coverage/
.nyc_output/
build/
*.tgz
.cache/

# iOS
ios/Pods/
ios/Podfile.lock
ios/build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Android
android/app/build/
android/.gradle/
android/local.properties
android/app/release/

# macOS
.DS_Store

